body{
    margin: auto
}

p{
    text-align: justify;
}

header{
    background-color: rgb(34,34,34);
    padding: 8px;
    text-align: center;
    color: white;
}

article{
    padding: 10px;
}

section{
    margin-top: 70px;
    padding: 10px;
    overflow: auto;
    height: 200px;
    border-top: 1px solid silver;
}

.curtain{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(34,34,34,0.8);
    display: none;
}

#pop{
    width: 50%;  
    height: 300px;
    display: none;                
    position: absolute;
    background-color:white; 
    z-index: 1000;                
    overflow: hidden;
    text-align: justify;
    border-radius: 5px;
}

#popHeader{
    position: fixed;      
    background-color: white;            
    padding: 10px;
}

a{
    display: table-cell;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(34,34,34, 0.9);
    color: white;
    font-family: Arial, Verdana, sans-serif;                
}
